
/*

bright: rgb(234,242,255);
normal: rgb(120,172,255);
dark:	rgb(0,66,174);

*/

html, body {
	height:		100%;
	margin:		0;
	padding:	0;
	background:	white;
	color:		black;

	font-size:	13px;
	font-family:	"Verdana", "Tahoma", "Helvetica", "Sans-Serif";
}

/* h1 only used in header */
h2,h3,h4,h5,h6 {
	margin-left:	10px;
	margin-right:	10px;
	padding:		2px 10px 2px 10px;
	background:		rgb(234,242,255);
	border-bottom:	1px solid rgb(120,172,255);
	width:			480px;
	width:			expression(500);
}

h1,h2 {
	font-weight:	normal;
}

h3,h4,h5,h6 {
	font-weight:	bold;
}

h1 {
	font-size:		50px;
}

h2 {
	font-size:		20px;
}

h3 {
	font-size:		15px;
}

p {
	margin:			10px;
	font-size:		13px;
	color:			black;
	width:			500px;
}

a {
	text-decoration:underline;
	color:			rgb(0,66,174);
}

a:hover {
	color:			rgb(0,66,174);
	background:		rgb(234,242,255);
}

a:visited {
	color:			rgb(120,172,255);
}

a:visited:hover {
	color:			rgb(0,66,174);
}

h2 a, h3 a {
	display:			block;
	text-decoration:	none;
	width:				expression("100%");
}
