h2 {
	margin-left:	10px;
	margin-right:	10px;
	padding:		2px 10px 2px 10px;
	background:		rgb(234,242,255);
	border-bottom:	1px solid rgb(120,172,255);
	width:			480px;
	width:			expression(500);
	font-weight:	normal;
	font-size:		20px;
}

a {
	text-decoration:underline;
	color:			rgb(0,66,174);
}

a:hover {
	color:			rgb(0,66,174);
	background:		rgb(234,242,255);
}

a:visited {
	color:			rgb(120,172,255);
}

a:visited:hover {
	color:			rgb(0,66,174);
}

h2 a {
	display:			block;
	text-decoration:	none;
	width:				expression("100%");
}
